<div class="track-entry" fpath=<%= ERB::Util.url_encode(track[:file]) %> >
    <p class="track-number"><%= track[:number] %></p>
    <p class="track-number-after">-</p>
    <p class="track-title"><%= track[:title] %></p>
    <p class="track-artist"><%= track[:artist] %></p>
</div>
