<tr><td class="playlist-entry">
    <p class="album-name"> <%= album.album_name %> </p>
    <p class="album-genre"> <%= album.genre %> </p>
    <p class="album-artist"> <%= album.album_artist %> </p>
</td></tr>
